@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

body {
  margin: 0;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.contentSection {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0%;
  height: 88%
}

@media (min-width: 320px) and (max-width: 425px) {
  .contentSection {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .contentSection {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .contentSection {
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media (min-width: 1280px) and (max-width: 7680px) {
  .contentSection {
    margin-right: 15%;
    margin-left: 15%;
  }
}
